@import "tailwindcss";

@plugin "@iconify/tailwind4";

@import "./styles/prose.css";
@import "./styles/markdown.css";

@layer base {
  html {
    @apply bg-white text-gray-800;
  }

  html.dark {
    @apply bg-neutral-950 text-neutral-200;
  }
}

@layer components {
  .nav-link {
    @apply mx-2 border-b-2! border-transparent! hover:border-b-gray-700! text-gray-400! hover:text-gray-700! w-max!;
  }

  .router-link-active {
    @apply border-b-gray-700! text-black!;
  }

  /* Dark mode navigation */
  .dark .nav-link {
    @apply text-gray-300! hover:text-gray-100! hover:border-b-gray-300!;
  }

  .dark .router-link-active {
    @apply border-b-gray-300! text-white!;
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #000;
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.dark #nprogress .bar {
  background: #fff;
}