@import "tailwindcss";

@plugin "@iconify/tailwind4";

@import "./styles/prose.css";
@import "./styles/markdown.css";

@layer components {
  .nav-link {
    @apply mx-2 border-b-2! border-transparent! hover:border-b-gray-700! text-gray-400! hover:text-gray-700! w-max!;
  }

  .router-link-active {
    @apply border-b-gray-700! text-black!;
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #000;
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}